/* 	=================
	global styles
	================= */

html {
	--main-num-color: #f5eeda;
	--secondary-num-color: #efe3c3;

	--main-del-color: #e30e0e;
	--secondary-del-color: #c00c0c;


	--main-op-color: #fad264;
	--secondary-op-color: #f9c639;

	--main-eql-color: #f5b507;
	--secondary-eql-color: #c69306;

	--main-background-color: #2b2b2b;

	--main-title-color: #ff9c24;

}

html {
	width: 100%;
}

body {
	width: 100%;
	font-family: 'Lato', sans-serif;
	font-size: 24px; 
	background: var(--main-background-color);
	margin: 0px;
	
}



/* 	=================
	layout
	================= */

.top {
	margin: 10px;
}

.title {
	font-size: 5rem;
	font-weight: 100;
	color: var(--main-title-color);
	text-align: center;
	margin: 1rem;
}

footer {
	position: fixed;
	bottom: 3px;
	width: 100%;
}

.div-ftr {
	display: block;
	font-size: 1rem;
	color: white;
	text-align: center;
}

.container {
	width: 360px;
	background: #242424;
	margin: 70px auto;
	border: 1px;
}


/* 	=================
	components
	================= */

/* Screen */

.screen {
	background: #000000;
	width: 100%;
	height: 90px;
	line-height: 90px;
	font-size: 40px;
	cursor: default;
	text-align: right;
	color: #edebeb;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


/* Buttons */

.row {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.buttons {
	width: 100%;
	text-align: center;
}


.btn {
	font-size: 50px;
	line-height: 90px;
	font-weight: 300;
	border: 0.7px solid #2b2b2b;
}

.btnDel {
	background: var(--main-del-color);
	color: #ffffff;
}

.btnDel:hover {
	background-color: var(--secondary-del-color);
}

.btnOp {
	background: var(--main-op-color);
	color: #2b2b2b; 
}

.btnOp:hover {
	background-color: var(--secondary-op-color);
}

.btnNum {
	background: var(--main-num-color);
}

.btnNum:hover {
	background: var(--secondary-num-color);
}

.btnOp,
.btnNum,
.btnDel {
	width: 90px;
	height: 90px;	
}

.btnEql {
	width: 100%;
	height: 90px;
	background-color: var(--main-eql-color);
	color: #ffffff;	
}

.btnEql:hover {
	background-color: var(--secondary-eql-color);
}
